.listMainDiv {
    .listCard {
        animation: fadeIn 2s;

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        cursor: pointer;
        // width: 20rem;
        width: auto;
        margin: 0.625rem 0.938rem 0.625rem 0.938rem;

        .editOption {
            color: blue;
            cursor: pointer;
        }

        .deleteOption {
            color: red;
            cursor: pointer;
        }
    }

    .noListsAvailable {
        background-color: lightslategrey;
        color: white;
        text-align: center;
        width: 13.063rem !important;
       // margin: 7.375rem 0 0 4.75rem;
        margin: 5vh auto auto auto;
      
    }

    .addListButtonWithNoLists {
        background-color: lightseagreen;
        color: white;
        margin: 5% 0 5% 0;
       // align-items: center;
    }
}