.deleteModel {
    .modal-content {
        width: 80%;
        margin: 35% auto auto auto;
    }

    .modalBody {
        background-color: lightpink;
        border-radius: 0.313rem 0.313rem 0 0;
    }

    .modal-footer {
        background-color: paleturquoise;
    }

}