.addMoreTasks {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    .addTaskFloatingButton {
        border-radius: 100%;

        @media only screen and (max-width: 576px) and (max-height: 920px) {
            font-size: 25px;
            width: 50px;
        }

        @media only screen and (max-width: 576px) and (max-height:740px) {
            font-size: 25px;
            width: 50px;
        }
    }
}

.container {

    height: auto;

    .twoGrids {
        position: relative;

        .noListAvailable {
            margin: auto;
        }
    }

    .addList {
        float: right;
    }

    .title {
        font-weight: bold;
        font-size: 170%;
        text-align: center;
        margin-top: 2%;

    }

    .homeLeftGrid {
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 0 0 0.8rem 0.8rem;
        background-color: lightblue;

        @media only screen and (min-width:1200px) and (min-height: 800px) {
            height: 50.625rem;
        }

        @media only screen and (min-height: 900px) and (max-height:1080px) and (min-width:1400px) {
            height: 40.625rem;
        }

        @media only screen and (min-height: 768px) and (min-width:992px) and (max-height:900px) {
            height: 31.625rem;
        }

        ///mobile and tabs
        @media only screen and (min-width: 576px) and (max-width:992px) and (max-height: 1400px) {
            height: 38vh;
        }

        @media only screen and (min-width: 576px) and (max-height: 768px) {
            height: 20.625rem;
        }

        @media only screen and (max-width: 576px) and (max-height: 920px) {
            height: auto;
            max-height: 35.5vh;
        }

        @media only screen and (max-width: 576px) and (max-height:740px) {
            height: auto;
            max-height: 32.5vh;
        }
    }

    .homeRightGrid {
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 0 0 0.8rem 0.8rem;
        background-color: lightblue;

        @media only screen and (min-height: 1080px) and (min-width:1400px) {
            height: 50.625rem;
        }

        @media only screen and (min-height: 900px) and (max-height:1080px) and (min-width:1400px) {
            height: 40.625rem;
        }

        @media only screen and (min-height: 768px) and (min-width:992px) and (max-height:900px) {
            height: 31.625rem;
        }

        ///mobile and tabs
        @media only screen and (min-width: 576px) and (max-width:992px) and (max-height: 1400px) {
            height: 38vh;
        }

        @media only screen and (min-width: 576px)and (max-height: 768px) {
            height: 20.625rem;
        }

        @media only screen and (max-width: 576px) and (max-height: 920px) {
            height: auto;
            max-height: 35.5vh;
            padding-bottom: 15%;
        }

        @media only screen and (max-width: 576px) and (max-height:740px) {
            height: auto;
            max-height: 32.5vh;
        }

    }

    #homeRightGrid::-webkit-scrollbar-track {
        background-color: lightblue;
    }

    #homeRightGrid::-webkit-scrollbar {
        width: 12px;
    }

    #homeRightGrid::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: lightseagreen;
    }

    #homeLeftGrid::-webkit-scrollbar-track {
        background-color: lightblue;
    }

    #homeLeftGrid::-webkit-scrollbar {
        width: 12px;
    }

    #homeLeftGrid::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: lightseagreen;
    }


    .listsHeading {
        color: white;
        font-weight: bolder;
        margin: 0.625rem 0 0 0;
        background-color: lightseagreen;
        height: 2.813rem;
        font-size: 1rem;
        padding-top: 2%;
        border-radius: 1.25rem 1.25rem 0 0;

        .listsHeading {
            margin-left: 8%;
        }

        .actionsListsHeading {
            float: right;
            margin-right: 17%;
        }
    }

    .listsHeadingWithoutLists {
        text-align: center !important;
    }

    .tasksMainHeading {
        @media only screen and (min-width: 1400px) {
            .completedHeading {
                margin-left: 4%;
            }

            .taskHeading {
                margin-left: 11%;
            }

            .priorityHeading {
                margin-left: 24%;
            }

            .actionsTasksHeading {
                float: right;
                margin-right: 15%;
            }

        }

        @media only screen and (min-width: 992px) and (max-width:1400px) {
            .completedHeading {
                margin-left: 4%;
            }

            .taskHeading {
                margin-left: 11%;
            }

            .priorityHeading {
                margin-left: 22%;
            }

            .actionsTasksHeading {
                margin-left: 18%;
            }

        }

        @media only screen and (min-width: 768px) and (max-width:992px) {
            .completedHeading {
                margin-left: 4%;
            }

            .taskHeading {
                margin-left: 11%;
            }

            .priorityHeading {
                margin-left: 22%;
            }

            .actionsTasksHeading {
                float: right;
                margin-right: 15%;
            }

        }

        @media only screen and (min-width:576px) and (max-width:768px) {
            .completedHeading {
                margin-left: 4%;
            }

            .taskHeading {
                margin-left: 11%;
            }

            .priorityHeading {
                margin-left: 17%;
            }

            .actionsTasksHeading {
                float: right;
                margin-right: 13%;
            }

        }

        @media only screen and (min-width:460px) and (max-width:576px) {
            .completedHeading {
                margin-left: 4%;
            }

            .taskHeading {
                margin-left: 11%;
            }

            .priorityHeading {
                margin-left: 25%;
            }

            .actionsTasksHeading {
                float: right;
                margin-right: 13%;
            }

        }

        @media only screen and (min-width:320px) and (max-width:460px) {
            .completedHeading {
                margin-left: 2%;
            }

            .taskHeading {
                margin-left: 7%;
            }

            .priorityHeading {
                margin-left: 18%;
            }

            .actionsTasksHeading {
                float: right;
                margin-right: 2%;
            }

        }

        @media only screen and (max-width:320px) {
            .completedHeading {
                margin-left: 2%;
            }

            .taskHeading {
                margin-left: 7%;
            }

            .priorityHeading {
                margin-left: 7%;
            }

            .actionsTasksHeading {
                float: right;
                margin-right: 2%;
            }

        }

        color: white;
        font-weight: bolder;
        margin: 0.625rem 0 0 0;
        background-color: lightseagreen;
        height: 2.813rem;
        font-size: 1rem;
        padding-top: 2%;
        border-radius: 1.25rem 1.25rem 0 0;
    }

    .addListButton {
        background-color: lightseagreen;
        color: white;
    }

    .completedTasksButton {
        float: right;
    }

    .btn-primary {
        background-color: lightseagreen !important;
    }
}