.addMoreTasks {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.addMoreTasks .addTaskFloatingButton {
  border-radius: 100%;
}
@media only screen and (max-width: 576px) and (max-height: 920px) {
  .addMoreTasks .addTaskFloatingButton {
    font-size: 25px;
    width: 50px;
  }
}
@media only screen and (max-width: 576px) and (max-height: 740px) {
  .addMoreTasks .addTaskFloatingButton {
    font-size: 25px;
    width: 50px;
  }
}

.container {
  height: auto;
}
.container .twoGrids {
  position: relative;
}
.container .twoGrids .noListAvailable {
  margin: auto;
}
.container .addList {
  float: right;
}
.container .title {
  font-weight: bold;
  font-size: 170%;
  text-align: center;
  margin-top: 2%;
}
.container .homeLeftGrid {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: lightblue;
}
@media only screen and (min-width: 1200px) and (min-height: 800px) {
  .container .homeLeftGrid {
    height: 50.625rem;
  }
}
@media only screen and (min-height: 900px) and (max-height: 1080px) and (min-width: 1400px) {
  .container .homeLeftGrid {
    height: 40.625rem;
  }
}
@media only screen and (min-height: 768px) and (min-width: 992px) and (max-height: 900px) {
  .container .homeLeftGrid {
    height: 31.625rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 992px) and (max-height: 1400px) {
  .container .homeLeftGrid {
    height: 38vh;
  }
}
@media only screen and (min-width: 576px) and (max-height: 768px) {
  .container .homeLeftGrid {
    height: 20.625rem;
  }
}
@media only screen and (max-width: 576px) and (max-height: 920px) {
  .container .homeLeftGrid {
    height: auto;
    max-height: 35.5vh;
  }
}
@media only screen and (max-width: 576px) and (max-height: 740px) {
  .container .homeLeftGrid {
    height: auto;
    max-height: 32.5vh;
  }
}
.container .homeRightGrid {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 0.8rem 0.8rem;
  background-color: lightblue;
}
@media only screen and (min-height: 1080px) and (min-width: 1400px) {
  .container .homeRightGrid {
    height: 50.625rem;
  }
}
@media only screen and (min-height: 900px) and (max-height: 1080px) and (min-width: 1400px) {
  .container .homeRightGrid {
    height: 40.625rem;
  }
}
@media only screen and (min-height: 768px) and (min-width: 992px) and (max-height: 900px) {
  .container .homeRightGrid {
    height: 31.625rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 992px) and (max-height: 1400px) {
  .container .homeRightGrid {
    height: 38vh;
  }
}
@media only screen and (min-width: 576px) and (max-height: 768px) {
  .container .homeRightGrid {
    height: 20.625rem;
  }
}
@media only screen and (max-width: 576px) and (max-height: 920px) {
  .container .homeRightGrid {
    height: auto;
    max-height: 35.5vh;
    padding-bottom: 15%;
  }
}
@media only screen and (max-width: 576px) and (max-height: 740px) {
  .container .homeRightGrid {
    height: auto;
    max-height: 32.5vh;
  }
}
.container #homeRightGrid::-webkit-scrollbar-track {
  background-color: lightblue;
}
.container #homeRightGrid::-webkit-scrollbar {
  width: 12px;
}
.container #homeRightGrid::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightseagreen;
}
.container #homeLeftGrid::-webkit-scrollbar-track {
  background-color: lightblue;
}
.container #homeLeftGrid::-webkit-scrollbar {
  width: 12px;
}
.container #homeLeftGrid::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightseagreen;
}
.container .listsHeading {
  color: white;
  font-weight: bolder;
  margin: 0.625rem 0 0 0;
  background-color: lightseagreen;
  height: 2.813rem;
  font-size: 1rem;
  padding-top: 2%;
  border-radius: 1.25rem 1.25rem 0 0;
}
.container .listsHeading .listsHeading {
  margin-left: 8%;
}
.container .listsHeading .actionsListsHeading {
  float: right;
  margin-right: 17%;
}
.container .listsHeadingWithoutLists {
  text-align: center !important;
}
.container .tasksMainHeading {
  color: white;
  font-weight: bolder;
  margin: 0.625rem 0 0 0;
  background-color: lightseagreen;
  height: 2.813rem;
  font-size: 1rem;
  padding-top: 2%;
  border-radius: 1.25rem 1.25rem 0 0;
}
@media only screen and (min-width: 1400px) {
  .container .tasksMainHeading .completedHeading {
    margin-left: 4%;
  }
  .container .tasksMainHeading .taskHeading {
    margin-left: 11%;
  }
  .container .tasksMainHeading .priorityHeading {
    margin-left: 24%;
  }
  .container .tasksMainHeading .actionsTasksHeading {
    float: right;
    margin-right: 15%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .container .tasksMainHeading .completedHeading {
    margin-left: 4%;
  }
  .container .tasksMainHeading .taskHeading {
    margin-left: 11%;
  }
  .container .tasksMainHeading .priorityHeading {
    margin-left: 22%;
  }
  .container .tasksMainHeading .actionsTasksHeading {
    margin-left: 18%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container .tasksMainHeading .completedHeading {
    margin-left: 4%;
  }
  .container .tasksMainHeading .taskHeading {
    margin-left: 11%;
  }
  .container .tasksMainHeading .priorityHeading {
    margin-left: 22%;
  }
  .container .tasksMainHeading .actionsTasksHeading {
    float: right;
    margin-right: 15%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container .tasksMainHeading .completedHeading {
    margin-left: 4%;
  }
  .container .tasksMainHeading .taskHeading {
    margin-left: 11%;
  }
  .container .tasksMainHeading .priorityHeading {
    margin-left: 17%;
  }
  .container .tasksMainHeading .actionsTasksHeading {
    float: right;
    margin-right: 13%;
  }
}
@media only screen and (min-width: 460px) and (max-width: 576px) {
  .container .tasksMainHeading .completedHeading {
    margin-left: 4%;
  }
  .container .tasksMainHeading .taskHeading {
    margin-left: 11%;
  }
  .container .tasksMainHeading .priorityHeading {
    margin-left: 25%;
  }
  .container .tasksMainHeading .actionsTasksHeading {
    float: right;
    margin-right: 13%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 460px) {
  .container .tasksMainHeading .completedHeading {
    margin-left: 2%;
  }
  .container .tasksMainHeading .taskHeading {
    margin-left: 7%;
  }
  .container .tasksMainHeading .priorityHeading {
    margin-left: 18%;
  }
  .container .tasksMainHeading .actionsTasksHeading {
    float: right;
    margin-right: 2%;
  }
}
@media only screen and (max-width: 320px) {
  .container .tasksMainHeading .completedHeading {
    margin-left: 2%;
  }
  .container .tasksMainHeading .taskHeading {
    margin-left: 7%;
  }
  .container .tasksMainHeading .priorityHeading {
    margin-left: 7%;
  }
  .container .tasksMainHeading .actionsTasksHeading {
    float: right;
    margin-right: 2%;
  }
}
.container .addListButton {
  background-color: lightseagreen;
  color: white;
}
.container .completedTasksButton {
  float: right;
}
.container .btn-primary {
  background-color: lightseagreen !important;
}/*# sourceMappingURL=home.css.map */